/* MAIN */
.page__inner {
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
}

@media (min-width: 1420px) {
  .main {
      font-size: 16px;
      line-height: 24px;
  }
}

@media (min-width: 1220px) {
  .main {
      line-height: 24px;
      font-size: 16px;
  }
}

@media (min-width: 1170px) {
  .main {
      line-height: 20px;
      font-size: 16px;
  }
}

@media (min-width: 1120px) {
  .main {
      line-height: 20px;
  }
}

.main {
  margin: auto;
}

.main .main-title {
  font: 700 32px/40px BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  margin: 0 auto 12px;
  padding: 0;
}

.main h1 a, .main h1 code, .main h2 a, .main h2 code, .main h3 a, .main h3 code, .main h4 a, .main h4 code {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

.main__anchor {
  outline: 0;
}

.formatted {
  color: var(--foregroundDefault);
}

.formatted p+ol, .formatted p+ul {
  margin-top: 0;
}

.formatted ol, .formatted ul {
  padding-left: 21px;
  margin: 22px 0;
}

.formatted ol>li, .formatted ul>li {
  margin: .3em 0;
}

.formatted code {
  font-family: Consolas,Lucida Console,Menlo,Monaco,monospace;
  padding: 2px 4px;
  background: var(--prismBlockBg);
  border-radius: 2px;
  color: var(--foregroundAlt);
}

.important {
  margin: 16px 0;
  border: 3px solid var(--borderImportant);
  border-radius: 6px;
}

.important__header {
  margin: 0;
  padding: 24px 24px 0;
  border: none;
}

.important__content {
  margin: 12px 24px 24px;
}

.important__type {
  font-weight: 700;
  font-size: 16px;
}

.balance {
  position: relative;
  margin: 16px 0;
  border: 3px solid var(--borderPrimary);
  border-radius: 6px;
}

.balance .balance__list {
  padding-left: 26px;
}