:root {
  /* Color */
  --grey-120: #e2e3e7;
  --grey-66: #c4c7cf;
  --grey-46: #868d9a;
  --grey-30: #696e79;
  --grey-16: #41454c;
  --grey-13: #35383f;
  --grey-11: #292c31;
  --grey-10: #232529;
  --grey-5: #1b1b1b;
  --green-46: #5fa67d;
  --green-30: #448460;
  --green-16: #315841;
  --green-12: #253e2f;
  --green-10: #1f3428;
  --yellow-46: #cf9a69;
  --yellow-30: #b2722a;
  --yellow-20: #ba5d38;
  --yellow-10: #38230b;
  --yellow-11: #462b0d;
  --blue-60: #427ae7;
  --blue-50: #84a0ef;
  --blue-46: #78aacd;
  --blue-30: #2a88b7;
  --blue-12: #193c50;
  --blue-10: #162936;
  --red-10: #441b1b;
  --red-12: #602620;
  --red-30: #d55759;
  --red-35: #d2483e;
  --red-46: #e3796a;
  --red-50: #e88b88;

  --backgroundPrimary: var(--grey-5);
  --backgroundAlt: var(--grey-11);
  --backgroundAltHover: var(--grey-13);
  --backgroundElevated1: var(--grey-13);
  --backgroundElevated2: var(--grey-16);
  --fontPrimary: var(--grey-120);
  --lessonsListBorder: var(--borderPrimary);
  --borderImportant: var(--grey-13);
  --borderPrimary: var(--grey-30);
  --backgroundProgressBarValue: var(--grey-30);
  --iframeBg: var(--grey-66);
  --backgroundPrismLineHighlight: #44475a;
  --prismBlockBg: #282a36;
  --prismLineNumbersBg: var(--prismBlockBg);
  --prismColor: #f8f8f2;
  --backgroundCalloutAlt: #462900;
  --backgroundTextHighlight: var(--backgroundAlt);
  --prismTokenComment: #6272a4;
  --prismTokenConstant: #9876aa;
  --prismTokenPunctuation: #f8f8f2;
  --prismTokenSymbols: #bd93f9;
  --prismTokenSymbolsAlt: #f1fa8c;
  --prismTokenOperator: #ff79c6;
  --prismTokenAtRule: #ce9178;
  --prismTokenKeywordControl: #c586c0;
  --prismTokenFunctionAndClassname: #8be9fd;
  --prismTokenRegex: #d16969;
  --prismTokenClassname: #8be9fd;
  --prismTokenVariable: #9cdcfe;
  --prismTokenKeyword: #ff79c6;
  --prismTokenImportant: #ff79c6;
  --prismTokenInterpolation: #f8f8f2;
  --prismTokenTagPunctuation: gray;
  --prismTokenCdata: gray;
  --prismTokenAttrvalue: #ce9178;
  --gradientFadeOut: var(--gradientFadeOutDark);

  /* Font */
  --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-body: Inter, var(--font-fallback);
  --font-heading: Inter, var(--font-fallback);
  --font-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --base-font-size: 100%;
  --base-line-height: 1.2;
  --intermediate-line-height: 1.5;
  --heading-line-height: var(--base-line-height);
  --heading-letter-spacing: -0.031rem;
  --font-content-line-height: 1.75;
  --font-body-strong-weight: 600;
  --type-heading-h1-font-size: 2.488rem;
  --type-heading-h2-font-size: 2.074rem;
  --type-heading-h3-font-size: 1.728rem;
  --type-heading-h4-font-size: 1.44rem;
  --type-heading-h5-font-size: 1.2rem;
  --type-base-font-size-rem: 1rem;
  --type-smaller-font-size: 0.833rem;
  --type-tiny-font-size: 0.694rem;
  --type-heading-h1-font-size-mobile: 1.802rem;
  --type-heading-h2-font-size-mobile: 1.602rem;
  --type-heading-h3-font-size-mobile: 1.424rem;
  --type-heading-h4-font-size-mobile: 1.266rem;
  --type-emphasis-m: var(--font-body-strong-weight) var(--type-smaller-font-size) /1.23 var(--font-body);
  --type-label-s: 600 var(--type-tiny-font-size) /1.2 var(--font-heading);
  --type-heading-h1: 600 var(--type-heading-h1-font-size-mobile) /var(--heading-line-height) var(--font-heading);
  --type-heading-h2: 500 var(--type-heading-h2-font-size-mobile) /var(--heading-line-height) var(--font-heading);
  --type-heading-h3: 300 var(--type-heading-h3-font-size-mobile) /var(--heading-line-height) var(--font-heading);
  --type-heading-h4: 400 var(--type-heading-h4-font-size-mobile) /var(--heading-line-height) var(--font-heading);
  --type-heading-h5: 400 var(--type-heading-h5-font-size) /var(--heading-line-height) var(--font-heading);
  --type-heading-h6: 400 var(--type-base-font-size-rem) /var(--heading-line-height) var(--font-heading);
  --type-article-p: 400 var(--type-base-font-size-rem) /var(--font-content-line-height) var(--font-body);
  --max-width: 1440px;
  --gutter: 1rem;
  --top-navigation-height: 4rem;
  --top-navigation-offset: -4rem;
  --z-index-back: -1;
  --z-index-top: 9999;
  --z-index-a11y: 10000;
  --z-index-mid: 500;
  --z-index-nav-menu: 200;
  --z-index-search-results: 101;
  --z-index-low: 100;
  --z-index-search-results-home: 99;
  --elem-radius: 0.25rem;
  --focus-effect: 0 0 0 3px var(--accent-primary-engage);
  --form-elem-height: 2rem;
  --sticky-header-height: 0;
  --top-nav-height: 4rem;
  --main-document-header-height: 6rem;
  --icon-size: 1rem;
}
