ul {
    list-style: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* BANNER */
.frontpage-banner {
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
}

p.frontpage-banner__text_lg {
    font-family: SF Pro Text, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 24px;
}

p.frontpage-banner__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 12px;
    padding: 0;
}

/* CONTENT */
.page-wrapper {
    grid-template-columns: 100%;
    transition: margin-top .2s;
}


.main {
    margin: auto;
    padding: 0 0 35px;
}

.frontpage-content {
    background: var(--backgroundBase);
    outline: none;
}

.frontpage-content .tabs {
    background: var(--backgroundBase);
}

.frontpage-content .tabs__content-inner {
    padding: 16px 0;
}

.frontpage-content .tabs__content-inner {
    max-width: 984px;
    margin: 0 auto;
    box-sizing: border-box;
}

.frontpage-content .list {
    counter-reset: a;
    padding: 0;
    margin: 0;
}

.frontpage-content .list__item {
    list-style: none;
    counter-increment: a;
}

.frontpage-content .list-sub__item:before {
    content: "";
}

.frontpage-content .list__title {
    position: relative;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.frontpage-content .list-sub__title:before {
    position: absolute;
    top: 4px;
    left: 0;
    font-family: Consolas, Lucida Console, Menlo, Monaco, monospace;
    font-size: 12px;
    line-height: 16px;
    content: counter(a) "." counter(b);
}

.frontpage-content .list__link {
    color: var(--foregroundDefault);
    text-decoration: none;
}

.frontpage-content .list-sub {
    padding: 0;
    margin: 0;
    counter-reset: b;
    margin-bottom: 24px;
    list-style-type: none;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    -webkit-columns: 3;
    columns: 3;
}

.frontpage-content .list-sub__item {
    counter-increment: b;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.frontpage-content .list-sub__title {
    position: relative;
    padding-left: 38px;
    margin-bottom: 2px;
}

.frontpage-content .list-sub__link {
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
}

.frontpage-content .list-sub__link:hover {
    color: #d55759;
    text-decoration: underline;
}