*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font: 14px/20px BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeSpeed;
  margin: 0;
  height: 100%;
}
